<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" th:content="${@config.getKey('blog.index.keywords')}">
	<meta name="description" th:content="${@config.getKey('blog.index.description')}">
	<title th:text="${@config.getKey('blog.index.title')}"></title>
	<meta name="baidu-site-verification" content="dAEtGwEyN9" />

	<link rel="stylesheet" th:href="@{/blog/pnews/css/dgy.base.min.css}"/>
	<link rel="stylesheet" th:href="@{/blog/pnews/css/dgy.head.min.css}"/>
	<link rel="stylesheet" th:href="@{/blog/pnews/css/dgy.web.3.0.css}"/>
	<link rel="stylesheet" th:href="@{/blog/pnews/plugin/iconfont/iconfont.css}"/>

	<script th:src="@{/blog/pnews/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/blog/pnews/js/jquery.lazyload.min.js}"></script>
	<script th:src="@{/blog/pnews/js/baseMotheds.js}"></script>

</head>
<body class="bgf">
<div th:replace="blog/theme/pnews/header"></div>
<!-- 热门标签 -->
<div class="fullTabs index" id="headFullTabs">
	<div class="menuBox">
		<span  th:each="item,temp:${@cms.selectFullTabs()}" >
			<a th:class="${item.tagId +'' ==tagId ? 'current':''}"  th:href="@{${'/blog/tag/'+item.tagId}+'?pageSize=6'}" th:text="${item.tagName}" ></a>
		</span>
	</div>
</div>
<!-- 栏目 -->
<div class="baseGroup mb20 mt60">
	<div class="itemGroup air">
		<div class="itemBox mb20" style="padding:0;">
			<div class="headGrid">
				<h3><b style="font-size: 28px;" th:text="${categoryName}"></b></h3>
				<p th:each="item:${@cms.selectShortWords(1)}" th:text="${item}"></p>
			</div>
			<div class="itemAirGrid">
				<ul>

					<li th:each="item:${articleList}">
						<a th:href="@{${'/blog/article/'+item.id}}" th:title="${item.title}"  target="_blank">
							<h3 th:text="${item.title}"></h3>
							<div class="tophead hoverImg">
								<img class="lazy" width="294" height="160" th:src="@{${item.coverImage}}">
							</div>
							<div class="article">
								<p class="description mt10 cf999" th:text="${item.description}"></p>
								<p class="mt15"><span class="cf_green f12">阅读全文 ></span></p>
							</div>
						</a>
					</li>

					<div class="clearfix"></div>
				</ul>
				<div th:if="${#lists.isEmpty(articleList)}"  class="cy-my-page" style="height: 100%;width: 100%;">
					<ul class="cy-my-comment-list">
						<div class="empty-hold-place">
							<div class="pet-pic"></div>
							<div class="empty-txt comment-empty-txt">没有查询到结果!</div>
							<div class="power-by-cy-txt">&nbsp;&nbsp;Powdered By pt-cms&nbsp;&nbsp;</div>
						</div>
					</ul>
				</div>

					<div id="pageGroup">
						<span class="pageinfo">共<strong>[[${totalPages}]]</strong>页<strong>[[${total}]]</strong>条记录</span>
						<a th:href="@{'/blog/category/'+${categoryId}+'?pageSize=6'}" class="homepage">首页</a>
						<a th:if="${hasPrevious}" th:href="@{'/blog/category/'+${categoryId}+'?pageNum='+${prePage}+'&pageSize=6'}"  class="prepage">上页</a>
						<a  th:each="item:${navNums}" class="listpage"  th:href="@{'/blog/category/'+${categoryId}+'?pageNum='+${item}+'&pageSize=6'}"  th:text="${item}" th:classappend="${item+'' ==currentPage+'' ? 'curpage':''}"></a>
						<a th:if="${hasNext}" th:href="@{'/blog/category/'+${categoryId}+'?pageNum='+${nextPage}+'&pageSize=6'}"  class="nextpage">下页</a>
						<a th:href="@{'/blog/category/'+${categoryId}+'?pageNum='+${totalPages}+'&pageSize=6'}"  class="endpage">尾页</a>
					</div>

			</div>
		</div>
	</div>
</div>
<!-- / 栏目 -->
<div th:replace="blog/theme/pnews/footer"></div>
<script>
    /*加载底部前执行。ps：防止闪现
     控制当页面内容过少时，底部仍在屏幕最下方
     主体内容最小高度
     */
    var topHeight=126;//头部高度
    topHeight+=40;
    var footerHeight=221;//底部高度
    var contentMinHeight = $(window).height()-topHeight-footerHeight;
    $(".itemBox").css("min-height",contentMinHeight)
    $(window).resize(function(){
        var contentMinHeight = $(window).height()-topHeight-footerHeight;
        $(".itemBox").css("min-height",contentMinHeight)
    })
</script>
</body>
</html>