<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增标签管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tags-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">标签类型：</label>
                <div class="col-sm-8">
                   <!-- <select name="tagType"  class="form-control m-b" th:with="type=${@dict.getType('tags_type')}">
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>-->
                    <div class="radio-box" th:each="dict : ${@dict.getType('tags_type')}">
                        <input type="radio" th:id="${'tagType_' + dict.dictCode}" name="tagType" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${'tagType_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>

                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">标签名称：</label>
                <div class="col-sm-8">
                    <input name="tagName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input name="sort" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">链接：</label>
                <div class="col-sm-8">
                    <input name="url" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "cms/tags"
        $("#form-tags-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-tags-add').serialize());
            }
        }
    </script>
</body>
</html>