<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('爬虫配置列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>爬虫编码：</p>
                                <input type="text" name="spiderCode"/>
                            </li>
                            <li>
                                <p>爬虫名称：</p>
                                <input type="text" name="spiderName"/>
                            </li>
                            <li>
                                <p>网站根域名：</p>
                                <input type="text" name="domain"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="spider:spiderConfig:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="spider:spiderConfig:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="spider:spiderConfig:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="spider:spiderConfig:export">
                    <i class="fa fa-download"></i> 导出
                 </a>

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('spider:spiderConfig:edit')}]];
        var removeFlag = [[${@permission.hasPermi('spider:spiderConfig:remove')}]];
        var prefix = ctx + "spider/spiderConfig";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "爬虫配置",
                columns: [{
                    checkbox: true
                },
                {field : 'id',title : '爬虫配置ID',visible: false},
                {field : 'spiderCode',title : '爬虫编码'},
                {field : 'spiderName',title : '爬虫名称'},
                {field : 'tableName',title : '存储的表名',visible: false},
                {field : 'domain',title : '网站根域名'},
                {field : 'charset',title : '字符集'},
                {field : 'sleepTime',title : '睡眠时间(ms)'},
                {field : 'retryTimes',title : '重试次数'},
                {field : 'threadCount',title : '线程数量'},
                {field : 'useProxy',title : '使用代理',formatter: function(value, row, index) {
                        if(value==1||value=='1'){
                            return "<font color='red'>使用代理</font>";
                        }else{
                            return "<font color='green'>不使用</font>";
                        }
                    }
                },
                {title: '操作', align: 'center', formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="addField(\'' + row.id + '\')"><i class="fa fa-note"></i>配置字段</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function addField(id) {
            var url = ctx+"spider/spiderField/" + id;
            $.modal.openTab("配置字段", url);
        }
    </script>
</body>
</html>